{% extends "base.html" %}
{% block content %}
  <!--h1>新建任务</h1-->
<div class="divbox" style="margin-top:10%">
    <form action="/svn/" method="POST">
      <div class="form-group mystyle">
		  <label for="taskname">Task Name</label>
		  {{ data.taskname }}
      </div>
      <div class="form-group mystyle">
          <label for="svnurl">SVN URL</label>
          {{ data.url }}
      </div>
      <div class="form-group" mystyle style="float:right;">
		  {{ data.projectselect }}
      </div>
      <div class="form-group" mystyle style="clear:both;float:right;">
		  {{ data.tempselect }}
      </div>
      <div class="form-group">
      <button type="submit" class="btn btn-success" style="clear:both;float:right;" >Submit</button>
      </div>

	 <label class="radio-inline"> 
		{{ data.choice_type }} 
	 </label>

    </div>
  </form>
  </div><!--enddivbox-->
{% endblock %}
