{% extends "base.html" %}
{% block content %}
<!--h1 class="sub-header">Select Files</h1-->
<div class="svnbox">
    <div class="table-responsive">
        <!--table class="table table-striped mytable" id="content" style="font-size:14px;" -->
        <table class="table table-condensed  mytable" style="font-size:14px;" id="content">
        <thead>
            <tr>
            <th>#</th>
            <th style="display:none">svn路径</th>
            <th>FileName</th>
            <th>Ipaddres</th>
            <th>上传人</th>
            <th style="display:none">提交大小</th>
            <th>上传时间</th>
            <th style="display:none">版本号</th>
            <th style="display:none">服务器路径</th>
            <th style="display:none">执行操作</th> <!-- 0：替换，1：添加-->
            <!--th>操作</th-->
            <th>...</th>
            </tr>
        </thead>
        <tbody id="tcontent">
            {% for key,value in data.items %}
                            {% for k,v in value.items  %}
            <tr>
                <td><input name="c1" type="checkbox" value=0 checked="checked" /></td>
                <td style="display:none">{{ v.svnpath }}</td>
                <td>{{ v.filename }}</td>
                <td>{{ key }}</td>
                <td>{{ v.author }}</td>
                <td style="display:none">{{ v.commit_size }}</td>
                <td>{{ v.upload_time }}</td>
                <td style="display:none">{{ v.commit_revision }}</td>
                <td style="display:none">{{ v.server_path }}</td>
                <td id="status" style="display:none">{{ v.status }}</td>
                <!--td>{{ value.exec }}</td-->
                <!--td><a id="a1" target="_blank" >view</a></td-->
				<td><button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#myview" id="viewbtn" onclick="viewmore(this)";>more</button></td>
            </tr>
                            {% endfor %}
            {% endfor%}
        </tbody>
        </table>
    </div>

    <!--div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          60%
      </div>
    </div-->


<!-- Modal -->
<div class="modal fade" id="myview" tabindex="-1" role="dialog" aria-labelledby="viewlabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="viewlabel">详细信息</h4>
      </div>
      <div class="modal-body" id="moreview">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--button type="button" class="btn btn-primary">Save changes</button-->
      </div>
    </div>
  </div>
</div>



<div class="modal fade" tabindex="-1" role="dialog" id="processbar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">更新进度</h4>
      </div>
      <div class="modal-body">
        <p id="pp">准备更新中...&hellip;</p>

    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" id="bar">
          0%
      </div>
    </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary disabled" data-dismiss="modal" id="bb" onclick="redirect()" >complete</button>
        <!--button type="button" class="btn btn-primary">Save changes</button-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    <div style="margin-top:20px; float:right;">
    <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary btn-success"  data-toggle="modal" data-target="#processbar" onclick=trandata(); id="b1" style="margin-right: 100%;">更新</button>
    </div>
    </div>
        <script type="text/javascript"> 

var mytd = document.getElementsByTagName('td');
for(var i=0;i<=mytd.length -1;i++){
var item = mytd[i];
if(item.getAttribute('id') == 'status'){
var p = item.parentElement;
if(item.innerHTML == 0){
p.setAttribute("class","active");
}
else if(item.innerHTML == 1){
p.setAttribute("class","warning");
}

else if(item.innerHTML == 2){
p.setAttribute("class","danger");

}
}
}

var taskid = {{ taskid }};

function redirect(){
window.location.href='/search'
}


function viewmore(val){
    var viewcell = val.parentElement.parentElement.cells;
    var svnpath = viewcell[1].innerHTML;
    var filename = viewcell[2].innerHTML;
    var ipaddr = viewcell[3].innerHTML;
    var uploader = viewcell[4].innerHTML;
    var uploadsize = viewcell[5].innerHTML;
    var uploadtime = viewcell[6].innerHTML;
    var version = viewcell[7].innerHTML;
    var serverpath = viewcell[8].innerHTML;
    var execute = viewcell[9].innerHTML;

	if(execute == 0){
	var ex = "替换"
}
	else if(execute == 1){

	var ex = "添加" 
}
	else{
	var ex = "未知"
}

    var viewstr = "<div>SVN路径：" + svnpath + "<br>" + "文件名：" + filename + "<br>" + "地址：" + ipaddr + "<br>" + "上传人：" + uploader  + "<br> " + "上传大小：" + uploadsize + "<br>" + "上传时间：" + uploadtime + "<br>" + "版本号：" + version + "<br>" + "服务器路径：" + serverpath + "<br>" + "执行操作：" + ex + "<br>"  + "</div>"

    var viewcon = document.getElementById('moreview');
    viewcon.innerHTML = viewstr;

}


function trandata(){
                var l1 = document.getElementsByName('c1');
                var arr = new Array();
                var alldate = {};
                                alldate['taskid'] = taskid
                for (var i = 0;i <= l1.length - 1; i++) {
                        var s = l1[i];
                        if(s.checked){
                                var svnpath = s.parentElement.parentElement.cells[1].innerHTML;
                                var filename = s.parentElement.parentElement.cells[2].innerHTML;
                                var ip = s.parentElement.parentElement.cells[3].innerHTML;
                                var uploader = s.parentElement.parentElement.cells[4].innerHTML;
                                var size = s.parentElement.parentElement.cells[5].innerHTML;
                                var uploadtime = s.parentElement.parentElement.cells[6].innerHTML;
                                var version = s.parentElement.parentElement.cells[7].innerHTML;
                                var serverpath = s.parentElement.parentElement.cells[8].innerHTML;
                                var stat = s.parentElement.parentElement.cells[9].innerHTML;
                                var k = ip + '___' + filename
                                var m = {"filename":filename,"ip":ip,"serverpath":serverpath,"svnpath":svnpath,"uploader":uploader,"size":size,"uploadtime":uploadtime,"version":version,"stat":stat};

                               alldate[k] = m;
                               console.log(alldate)
                        }
   ;}

               $.ajax({
                       url:'/server/',
                       type:'POST',
                       data:alldate,
                       success:function(callback){
                           console.log(callback);
                           window.interval = setInterval(getspeed,1000);
                       },
                       error:function(){
                           console.log('failed');
                       }
               })
        }

function getspeed(){
	$.ajax({
                       url:'/speed/',
                       type:'POST',
                       data:{'taskid':taskid},
                       success:function(callback){
                           console.log(callback);
		    				 var mydata = jQuery.parseJSON(callback);
							 var speed = Math.round(mydata.speed);
							 var connent = mydata.connent;
							 var probar = document.getElementById('bar');
							 var conment = document.getElementById('pp');
							 conment.innerHTML = connent;
							 probar.setAttribute('aria-valuenow',speed);
							 probar.style.width= speed + "%";
							 probar.innerHTML = speed + "%";
							if(speed == 100){
							console.log("complate")
							clearInterval(interval);
//							$("#bb").removeClass("disabled");
//							$("#bb").click();
							view();
}
							console.log(speed);
							console.log(mydata.connent)
                       },
                       error:function(){
                           console.log('failed');
                       }
               })
}

window.count = 0

window.myposite = 0;

function openwindow(mytag,myip,myconment){
		mytag = window.open ('',mytag,'height=700,width=600,top=0,left=' + window.myposite + ',toolbar=no,menubar=no,scrollbars=yes, resizable=no,location=no, status=no');
		window.myposite = window.myposite + 100;
		mytag.document.write("<head><title>" + myip + "</title></head>" + "<div style='font-size:12px'>" + myconment + "</div>");

}


function view(){
if(count == 0){

  $.ajax({
      url:'/showlog/',
      type:'POST',
      data:{'taskid':taskid},
      success:function(callback){
        console.log(callback);
	    callback = jQuery.parseJSON(callback);
		var mynum = callback.length;
		for(var i=0;i<mynum;i++) {
		var ip = callback[i][2];
		var conment = callback[i][1];
		var conment = conment.replace('\n','<br>')
		console.log(ip);
		var tag = ip.split('.')[3]
		console.log(tag);
		openwindow(tag,ip,conment);
		$("#bb").removeClass("disabled");
}

//		taillog()
		window.loginterval = setInterval(taillog,5000);
      },
      error:function(){
        console.log('获取失败')
      }
  })

window.count = 1;
}
else{

console.log("不执行");

}

function taillog(){

	$.ajax({
		url:'/taillog/',
		type:'POST',
		data:{'taskid':taskid},
		success:function(callback){
		console.log("########taillog start ########")
		callback = jQuery.parseJSON(callback);
		var mynum2 = callback.length;
		for(var i =0;i<mynum2;i++) {
		var ip = callback[i][2];
		var conment = callback[i][1];
		var tag = ip.split('.')[3];
		if(conment != "None"){
		var conment = conment.replace('\n','<br>');
		m = window.open('',tag);
		m.document.write("<div style='font-size:12px'>" + conment + "</div>")
}

}


		
		console.log(callback)
	},
		error:function(){
		console.log('taillog failed')
	}

		})
}


}
        </script>
        <!--script src="/static/js/svn.js" ></script-->
</div> <!--end svnbox-->

{% endblock %}
